      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
          </tr>
        </tbody>
      </table><br>The GooglePoly API allows you to interact with Google Poly models direct from inside High Fidelity.
    </div>
    <div>
      <h5>Methods</h5>
    </div>
    <div><a href="#.getAssetList">getAssetList</a></div>
    <div><a href="#.getBlocks">getBlocks</a></div>
    <div><a href="#.getFBX">getFBX</a></div>
    <div><a href="#.getGLTF">getGLTF</a></div>
    <div><a href="#.getGLTF2">getGLTF2</a></div>
    <div><a href="#.getModelInfo">getModelInfo</a></div>
    <div><a href="#.getOBJ">getOBJ</a></div>
    <div><a href="#.getTilt">getTilt</a></div>
    <div><a href="#.setAPIKey">setAPIKey</a></div><br>
  </div>
  <h4 class="subsection-title">Methods</h4>
  <h5 class="name" id=".getAssetList"> getAssetList<span class="signature">(keyword, category, format)</span> <span class="type-signature">&#x2192; {string}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>keyword</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>category</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>format</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: string</dt></dl>
  <h5 class="name" id=".getBlocks"> getBlocks<span class="signature">(keyword, category)</span> <span class="type-signature">&#x2192; {string}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>keyword</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>category</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: string</dt></dl>
  <h5 class="name" id=".getFBX"> getFBX<span class="signature">(keyword, category)</span> <span class="type-signature">&#x2192; {string}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>keyword</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>category</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: string</dt></dl>
  <h5 class="name" id=".getGLTF"> getGLTF<span class="signature">(keyword, category)</span> <span class="type-signature">&#x2192; {string}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>keyword</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>category</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: string</dt></dl>
  <h5 class="name" id=".getGLTF2"> getGLTF2<span class="signature">(keyword, category)</span> <span class="type-signature">&#x2192; {string}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>keyword</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>category</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: string</dt></dl>
  <h5 class="name" id=".getModelInfo"> getModelInfo<span class="signature">(input)</span> <span class="type-signature">&#x2192; {string}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>input</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: string</dt></dl>
  <h5 class="name" id=".getOBJ"> getOBJ<span class="signature">(keyword, category)</span> <span class="type-signature">&#x2192; {string}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>keyword</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>category</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: string</dt></dl>
  <h5 class="name" id=".getTilt"> getTilt<span class="signature">(keyword, category)</span> <span class="type-signature">&#x2192; {string}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>keyword</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>category</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: string</dt></dl>
  <h5 class="name" id=".setAPIKey"> setAPIKey<span class="signature">(key)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>key</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
</article>
</section>
              </div>
          </div>
      {% endblock %}