      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
          </tr>
        </tbody>
      </table><br>
    </div>
    <h5 class="subsection-title">Properties:</h5>
    <table class="props">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th class="last">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name"><code>width</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>height</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>ALWAYS_ON_TOP</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last">InteractiveWindow flag for always showing a window on top</td>
        </tr>
        <tr>
          <td class="name"><code>CLOSE_BUTTON_HIDES</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last">InteractiveWindow flag for hiding the window instead of closing on window close by user</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
</section>
              </div>
          </div>
      {% endblock %}