      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
          </tr>
        </tbody>
      </table><br>The AccountServices API contains helper functions related to user connectivity
    </div>
    <div>
      <h5>Methods</h5>
    </div>
    <div><a href="#.checkAndSignalForAccessToken">checkAndSignalForAccessToken</a></div>
    <div><a href="#.getDownloadInfo">getDownloadInfo</a></div>
    <div><a href="#.isLoggedIn">isLoggedIn</a></div>
    <div><a href="#.logOut">logOut</a></div>
    <div><a href="#.updateDownloadInfo">updateDownloadInfo</a></div><br>
    <div>
      <h5>Signals</h5>
    </div>
    <div><a href="#.connected">connected</a></div>
    <div><a href="#.disconnected">disconnected</a></div>
    <div><a href="#.downloadInfoChanged">downloadInfoChanged</a></div>
    <div><a href="#.findableByChanged">findableByChanged</a></div>
    <div><a href="#.loggedInChanged">loggedInChanged</a></div>
    <div><a href="#.myUsernameChanged">myUsernameChanged</a></div><br>
    <h5 class="subsection-title">Properties:</h5>
    <table class="props">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th class="last">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name"><code>username</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>loggedIn</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>findableBy</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>metaverseServerURL</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="subsection-title">Methods</h4>
  <h5 class="name" id=".checkAndSignalForAccessToken"> checkAndSignalForAccessToken<span class="signature">()</span> <span class="type-signature">&#x2192; {boolean}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: boolean</dt></dl>
  <h5 class="name" id=".getDownloadInfo"> getDownloadInfo<span class="signature">()</span> <span class="type-signature">&#x2192; {DownloadInfoResult}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: DownloadInfoResult</dt></dl>
  <h5 class="name" id=".isLoggedIn"> isLoggedIn<span class="signature">()</span> <span class="type-signature">&#x2192; {boolean}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: boolean</dt></dl>
  <h5 class="name" id=".logOut"> logOut<span class="signature">()</span><span class="type-signature"></span></h5>
  <h5 class="name" id=".updateDownloadInfo"> updateDownloadInfo<span class="signature">()</span><span class="type-signature"></span></h5>
  <h4 class="subsection-title">Signals</h4>
  <h5 class="name" id=".connected"> connected<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".disconnected"> disconnected<span class="signature">(reason)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>reason</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".downloadInfoChanged"> downloadInfoChanged<span class="signature">(info)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>info</code></td>
        <td class="type"></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".findableByChanged"> findableByChanged<span class="signature">(discoverabilityMode)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>discoverabilityMode</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".loggedInChanged"> loggedInChanged<span class="signature">(loggedIn)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>loggedIn</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".myUsernameChanged"> myUsernameChanged<span class="signature">(username)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>username</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
</article>
</section>
              </div>
          </div>
      {% endblock %}