      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
            <td>Server Entity Scripts</td>
            <td>Assignment Client Scripts</td>
          </tr>
        </tbody>
      </table><br>
    </div>
    <div>
      <h5>Methods</h5>
    </div>
    <div><a href="#.childAt">childAt</a></div>
    <div><a href="#.contains">contains</a></div>
    <div><a href="#.forceActiveFocus">forceActiveFocus</a></div>
    <div><a href="#.grabToImage">grabToImage</a></div>
    <div><a href="#.mapFromGlobal">mapFromGlobal</a></div>
    <div><a href="#.mapFromItem">mapFromItem</a></div>
    <div><a href="#.mapToGlobal">mapToGlobal</a></div>
    <div><a href="#.mapToItem">mapToItem</a></div>
    <div><a href="#.nextItemInFocusChain">nextItemInFocusChain</a></div>
    <div><a href="#.update">update</a></div><br>
    <div>
      <h5>Signals</h5>
    </div>
    <div><a href="#.activeFocusChanged">activeFocusChanged</a></div>
    <div><a href="#.activeFocusOnTabChanged">activeFocusOnTabChanged</a></div>
    <div><a href="#.antialiasingChanged">antialiasingChanged</a></div>
    <div><a href="#.appdroppedChanged">appdroppedChanged</a></div>
    <div><a href="#.assetMbpsInChanged">assetMbpsInChanged</a></div>
    <div><a href="#.assetMbpsOutChanged">assetMbpsOutChanged</a></div>
    <div><a href="#.assetPingChanged">assetPingChanged</a></div>
    <div><a href="#.audioAudioInboundPPSChanged">audioAudioInboundPPSChanged</a></div>
    <div><a href="#.audioCodecChanged">audioCodecChanged</a></div>
    <div><a href="#.audioMixerInKbpsChanged">audioMixerInKbpsChanged</a></div>
    <div><a href="#.audioMixerInPpsChanged">audioMixerInPpsChanged</a></div>
    <div><a href="#.audioMixerKbpsChanged">audioMixerKbpsChanged</a></div>
    <div><a href="#.audioMixerOutKbpsChanged">audioMixerOutKbpsChanged</a></div>
    <div><a href="#.audioMixerOutPpsChanged">audioMixerOutPpsChanged</a></div>
    <div><a href="#.audioMixerPpsChanged">audioMixerPpsChanged</a></div>
    <div><a href="#.audioNoiseGateChanged">audioNoiseGateChanged</a></div>
    <div><a href="#.audioOutboundPPSChanged">audioOutboundPPSChanged</a></div>
    <div><a href="#.audioPacketLossChanged">audioPacketLossChanged</a></div>
    <div><a href="#.audioPingChanged">audioPingChanged</a></div>
    <div><a href="#.audioSilentInboundPPSChanged">audioSilentInboundPPSChanged</a></div>
    <div><a href="#.audioSilentOutboundPPSChanged">audioSilentOutboundPPSChanged</a></div>
    <div><a href="#.avatarCountChanged">avatarCountChanged</a></div>
    <div><a href="#.avatarMixerInKbpsChanged">avatarMixerInKbpsChanged</a></div>
    <div><a href="#.avatarMixerInPpsChanged">avatarMixerInPpsChanged</a></div>
    <div><a href="#.avatarMixerOutKbpsChanged">avatarMixerOutKbpsChanged</a></div>
    <div><a href="#.avatarMixerOutPpsChanged">avatarMixerOutPpsChanged</a></div>
    <div><a href="#.avatarPingChanged">avatarPingChanged</a></div>
    <div><a href="#.avatarSimulationTimeChanged">avatarSimulationTimeChanged</a></div>
    <div><a href="#.baselineOffsetChanged">baselineOffsetChanged</a></div>
    <div><a href="#.batchFrameTimeChanged">batchFrameTimeChanged</a></div>
    <div><a href="#.childrenRectChanged">childrenRectChanged</a></div>
    <div><a href="#.clipChanged">clipChanged</a></div>
    <div><a href="#.collisionPicksCountChanged">collisionPicksCountChanged</a></div>
    <div><a href="#.collisionPicksUpdatedChanged">collisionPicksUpdatedChanged</a></div>
    <div><a href="#.decimatedTextureCountChanged">decimatedTextureCountChanged</a></div>
    <div><a href="#.downloadLimitChanged">downloadLimitChanged</a></div>
    <div><a href="#.downloadsChanged">downloadsChanged</a></div>
    <div><a href="#.downloadsPendingChanged">downloadsPendingChanged</a></div>
    <div><a href="#.downloadUrlsChanged">downloadUrlsChanged</a></div>
    <div><a href="#.drawcallsChanged">drawcallsChanged</a></div>
    <div><a href="#.enabledChanged">enabledChanged</a></div>
    <div><a href="#.engineFrameTimeChanged">engineFrameTimeChanged</a></div>
    <div><a href="#.entitiesPingChanged">entitiesPingChanged</a></div>
    <div><a href="#.entityPacketsInKbpsChanged">entityPacketsInKbpsChanged</a></div>
    <div><a href="#.expandedChanged">expandedChanged</a></div>
    <div><a href="#.focusChanged">focusChanged</a></div>
    <div><a href="#.gameLoopRateChanged">gameLoopRateChanged</a></div>
    <div><a href="#.gameUpdateStatsChanged">gameUpdateStatsChanged</a></div>
    <div><a href="#.glContextSwapchainMemoryChanged">glContextSwapchainMemoryChanged</a></div>
    <div><a href="#.gpuBufferMemoryChanged">gpuBufferMemoryChanged</a></div>
    <div><a href="#.gpuBuffersChanged">gpuBuffersChanged</a></div>
    <div><a href="#.gpuFrameTimeChanged">gpuFrameTimeChanged</a></div>
    <div><a href="#.gpuFrameTimeChanged">gpuFrameTimeChanged</a></div>
    <div><a href="#.gpuFrameTimeChanged">gpuFrameTimeChanged</a></div>
    <div><a href="#.gpuFreeMemoryChanged">gpuFreeMemoryChanged</a></div>
    <div><a href="#.gpuTextureExternalMemoryChanged">gpuTextureExternalMemoryChanged</a></div>
    <div><a href="#.gpuTextureFramebufferMemoryChanged">gpuTextureFramebufferMemoryChanged</a></div>
    <div><a href="#.gpuTextureMemoryChanged">gpuTextureMemoryChanged</a></div>
    <div><a href="#.gpuTextureMemoryPressureStateChanged">gpuTextureMemoryPressureStateChanged</a></div>
    <div><a href="#.gpuTextureResidentMemoryChanged">gpuTextureResidentMemoryChanged</a></div>
    <div><a href="#.gpuTextureResourceIdealMemoryChanged">gpuTextureResourceIdealMemoryChanged</a></div>
    <div><a href="#.gpuTextureResourceMemoryChanged">gpuTextureResourceMemoryChanged</a></div>
    <div><a href="#.gpuTextureResourcePopulatedMemoryChanged">gpuTextureResourcePopulatedMemoryChanged</a></div>
    <div><a href="#.gpuTexturesChanged">gpuTexturesChanged</a></div>
    <div><a href="#.heightChanged">heightChanged</a></div>
    <div><a href="#.implicitHeightChanged">implicitHeightChanged</a></div>
    <div><a href="#.implicitWidthChanged">implicitWidthChanged</a></div>
    <div><a href="#.itemConsideredChanged">itemConsideredChanged</a></div>
    <div><a href="#.itemOutOfViewChanged">itemOutOfViewChanged</a></div>
    <div><a href="#.itemRenderedChanged">itemRenderedChanged</a></div>
    <div><a href="#.itemTooSmallChanged">itemTooSmallChanged</a></div>
    <div><a href="#.localElementsChanged">localElementsChanged</a></div>
    <div><a href="#.localInternalChanged">localInternalChanged</a></div>
    <div><a href="#.localLeavesChanged">localLeavesChanged</a></div>
    <div><a href="#.lodStatusChanged">lodStatusChanged</a></div>
    <div><a href="#.longframesChanged">longframesChanged</a></div>
    <div><a href="#.longrendersChanged">longrendersChanged</a></div>
    <div><a href="#.longsubmitsChanged">longsubmitsChanged</a></div>
    <div><a href="#.materialSwitchesChanged">materialSwitchesChanged</a></div>
    <div><a href="#.mbpsInChanged">mbpsInChanged</a></div>
    <div><a href="#.mbpsOutChanged">mbpsOutChanged</a></div>
    <div><a href="#.messagePingChanged">messagePingChanged</a></div>
    <div><a href="#.myAvatarSendRateChanged">myAvatarSendRateChanged</a></div>
    <div><a href="#.notUpdatedAvatarCountChanged">notUpdatedAvatarCountChanged</a></div>
    <div><a href="#.numPhysicsBodiesChanged">numPhysicsBodiesChanged</a></div>
    <div><a href="#.opacityChanged">opacityChanged</a></div>
    <div><a href="#.packetInCountChanged">packetInCountChanged</a></div>
    <div><a href="#.packetOutCountChanged">packetOutCountChanged</a></div>
    <div><a href="#.packetStatsChanged">packetStatsChanged</a></div>
    <div><a href="#.parabolaPicksCountChanged">parabolaPicksCountChanged</a></div>
    <div><a href="#.parabolaPicksUpdatedChanged">parabolaPicksUpdatedChanged</a></div>
    <div><a href="#.parentChanged">parentChanged</a></div>
    <div><a href="#.positionChanged">positionChanged</a></div>
    <div><a href="#.presentdroprateChanged">presentdroprateChanged</a></div>
    <div><a href="#.presentnewrateChanged">presentnewrateChanged</a></div>
    <div><a href="#.presentrateChanged">presentrateChanged</a></div>
    <div><a href="#.processingChanged">processingChanged</a></div>
    <div><a href="#.processingPendingChanged">processingPendingChanged</a></div>
    <div><a href="#.qmlTextureMemoryChanged">qmlTextureMemoryChanged</a></div>
    <div><a href="#.rayPicksCountChanged">rayPicksCountChanged</a></div>
    <div><a href="#.rayPicksUpdatedChanged">rayPicksUpdatedChanged</a></div>
    <div><a href="#.rectifiedTextureCountChanged">rectifiedTextureCountChanged</a></div>
    <div><a href="#.renderrateChanged">renderrateChanged</a></div>
    <div><a href="#.rotationChanged">rotationChanged</a></div>
    <div><a href="#.scaleChanged">scaleChanged</a></div>
    <div><a href="#.sendingModeChanged">sendingModeChanged</a></div>
    <div><a href="#.serverCountChanged">serverCountChanged</a></div>
    <div><a href="#.serverElementsChanged">serverElementsChanged</a></div>
    <div><a href="#.serverInternalChanged">serverInternalChanged</a></div>
    <div><a href="#.serverLeavesChanged">serverLeavesChanged</a></div>
    <div><a href="#.shadowConsideredChanged">shadowConsideredChanged</a></div>
    <div><a href="#.shadowOutOfViewChanged">shadowOutOfViewChanged</a></div>
    <div><a href="#.shadowRenderedChanged">shadowRenderedChanged</a></div>
    <div><a href="#.shadowTooSmallChanged">shadowTooSmallChanged</a></div>
    <div><a href="#.smoothChanged">smoothChanged</a></div>
    <div><a href="#.speedChanged">speedChanged</a></div>
    <div><a href="#.stateChanged">stateChanged</a></div>
    <div><a href="#.stutterrateChanged">stutterrateChanged</a></div>
    <div><a href="#.stylusPicksCountChanged">stylusPicksCountChanged</a></div>
    <div><a href="#.stylusPicksUpdatedChanged">stylusPicksUpdatedChanged</a></div>
    <div><a href="#.texturePendingTransfersChanged">texturePendingTransfersChanged</a></div>
    <div><a href="#.timingExpandedChanged">timingExpandedChanged</a></div>
    <div><a href="#.timingStatsChanged">timingStatsChanged</a></div>
    <div><a href="#.transformOriginChanged">transformOriginChanged</a></div>
    <div><a href="#.trianglesChanged">trianglesChanged</a></div>
    <div><a href="#.updatedAvatarCountChanged">updatedAvatarCountChanged</a></div>
    <div><a href="#.visibleChanged">visibleChanged</a></div>
    <div><a href="#.visibleChildrenChanged">visibleChildrenChanged</a></div>
    <div><a href="#.widthChanged">widthChanged</a></div>
    <div><a href="#.windowChanged">windowChanged</a></div>
    <div><a href="#.xChanged">xChanged</a></div>
    <div><a href="#.yawChanged">yawChanged</a></div>
    <div><a href="#.yChanged">yChanged</a></div>
    <div><a href="#.zChanged">zChanged</a></div><br>
    <h5 class="subsection-title">Properties:</h5>
    <table class="props">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th class="last">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name"><code>expanded</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>timingExpanded</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>monospaceFont</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>serverCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>renderrate</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last">How often the app is creating new gpu::Frames. <em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>presentrate</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last">How often the display plugin is presenting to the device. <em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>stutterrate</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last">How often the display device is reprojecting old frames. <em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>appdropped</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>longsubmits</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>longrenders</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>longframes</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>presentnewrate</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>presentdroprate</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gameLoopRate</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>avatarCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>physicsObjectCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>updatedAvatarCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>notUpdatedAvatarCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>packetInCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>packetOutCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>mbpsIn</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>mbpsOut</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>assetMbpsIn</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>assetMbpsOut</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioPing</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>avatarPing</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>entitiesPing</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>assetPing</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>messagePing</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>position</code></td>
          <td class="type"> <span class="param-type"><a href="/api-reference/globals#Vec3">Vec3</a></span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>speed</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>yaw</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>avatarMixerInKbps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>avatarMixerInPps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>avatarMixerOutKbps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>avatarMixerOutPps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>myAvatarSendRate</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioMixerInKbps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioMixerInPps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioMixerOutKbps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioMixerOutPps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioMixerKbps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioMixerPps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioOutboundPPS</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioSilentOutboundPPS</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioAudioInboundPPS</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioSilentInboundPPS</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioPacketLoss</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioCodec</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>audioNoiseGate</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>entityPacketsInKbps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>downloads</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>downloadLimit</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>downloadsPending</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>downloadUrls</code></td>
          <td class="type"> <span class="param-type">Array.&lt;string&gt;</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>processing</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>processingPending</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>triangles</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>materialSwitches</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>itemConsidered</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>itemOutOfView</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>itemTooSmall</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>itemRendered</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>shadowConsidered</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>shadowOutOfView</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>shadowTooSmall</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>shadowRendered</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>sendingMode</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>packetStats</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>lodStatus</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>timingStats</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gameUpdateStats</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>serverElements</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>serverInternal</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>serverLeaves</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>localElements</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>localInternal</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>localLeaves</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>rectifiedTextureCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>decimatedTextureCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuBuffers</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuBufferMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuTextures</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>glContextSwapchainMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>qmlTextureMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>texturePendingTransfers</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuTextureMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuTextureResidentMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuTextureFramebufferMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuTextureResourceMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuTextureResourceIdealMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuTextureResourcePopulatedMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuTextureExternalMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuTextureMemoryPressureState</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuFreeMemory</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuFrameTime</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>batchFrameTime</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>engineFrameTime</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>avatarSimulationTime</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>x</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>y</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>z</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>width</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>height</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>opacity</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>enabled</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>visible</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>state</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>anchors</code></td>
          <td class="type"> <span class="param-type">object</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>baselineOffset</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>clip</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>focus</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>activeFocus</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>activeFocusOnTab</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>rotation</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>scale</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>transformOrigin</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>smooth</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>antialiasing</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>implicitWidth</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>implicitHeight</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>layer</code></td>
          <td class="type"> <span class="param-type">object</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>stylusPicksCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>rayPicksCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>parabolaPicksCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>collisionPicksCount</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>stylusPicksUpdated</code></td>
          <td class="type"> <span class="param-type"><a href="/api-reference/globals#Vec4">Vec4</a></span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>rayPicksUpdated</code></td>
          <td class="type"> <span class="param-type"><a href="/api-reference/globals#Vec4">Vec4</a></span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>parabolaPicksUpdated</code></td>
          <td class="type"> <span class="param-type"><a href="/api-reference/globals#Vec4">Vec4</a></span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>collisionPicksUpdated</code></td>
          <td class="type"> <span class="param-type"><a href="/api-reference/globals#Vec4">Vec4</a></span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="subsection-title">Methods</h4>
  <h5 class="name" id=".childAt"> childAt<span class="signature">(x, y)</span> <span class="type-signature">&#x2192; {object}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>x</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>y</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: object</dt></dl>
  <h5 class="name" id=".contains"> contains<span class="signature">(point)</span> <span class="type-signature">&#x2192; {boolean}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>point</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/globals#Vec2">Vec2</a></span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: boolean</dt></dl>
  <h5 class="name" id=".forceActiveFocus"> forceActiveFocus<span class="signature">(reason<span class="signature-attributes">opt</span>)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Attributes</th>
        <th>Default</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>reason</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> 7</td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".grabToImage"> grabToImage<span class="signature">(callback, targetSize<span class="signature-attributes">opt</span>)</span> <span class="type-signature">&#x2192; {boolean}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Attributes</th>
        <th>Default</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>callback</code></td>
        <td class="type"> <span class="param-type">object</span></td>
        <td class="attributes"></td>
        <td class="default"></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>targetSize</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/globals#Size">Size</a></span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> 0,0</td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: boolean</dt></dl>
  <h5 class="name" id=".mapFromGlobal"> mapFromGlobal<span class="signature">(global)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>global</code></td>
        <td class="type"> <span class="param-type">object</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".mapFromItem"> mapFromItem<span class="signature">(item)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>item</code></td>
        <td class="type"> <span class="param-type">object</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".mapToGlobal"> mapToGlobal<span class="signature">(global)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>global</code></td>
        <td class="type"> <span class="param-type">object</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".mapToItem"> mapToItem<span class="signature">(item)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>item</code></td>
        <td class="type"> <span class="param-type">object</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".nextItemInFocusChain"> nextItemInFocusChain<span class="signature">(forward<span class="signature-attributes">opt</span>)</span> <span class="type-signature">&#x2192; {object}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Attributes</th>
        <th>Default</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>forward</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> true</td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: object</dt></dl>
  <h5 class="name" id=".update"> update<span class="signature">()</span><span class="type-signature"></span></h5>
  <h4 class="subsection-title">Signals</h4>
  <h5 class="name" id=".activeFocusChanged"> activeFocusChanged<span class="signature">(activeFocus)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>activeFocus</code> property changes.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>activeFocus</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".activeFocusOnTabChanged"> activeFocusOnTabChanged<span class="signature">(activeFocusOnTab)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>activeFocusOnTab</code> property changes.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>activeFocusOnTab</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".antialiasingChanged"> antialiasingChanged<span class="signature">(antialiasing)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>antialiasing</code> property changes.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>antialiasing</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".appdroppedChanged"> appdroppedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>appdropped</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".assetMbpsInChanged"> assetMbpsInChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>assetMbpsIn</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".assetMbpsOutChanged"> assetMbpsOutChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>assetMbpsOut</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".assetPingChanged"> assetPingChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>assetPing</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioAudioInboundPPSChanged"> audioAudioInboundPPSChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioAudioInboundPPS</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioCodecChanged"> audioCodecChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioCodec</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioMixerInKbpsChanged"> audioMixerInKbpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioMixerInKbps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioMixerInPpsChanged"> audioMixerInPpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioMixerInPps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioMixerKbpsChanged"> audioMixerKbpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioMixerKbps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioMixerOutKbpsChanged"> audioMixerOutKbpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioMixerOutKbps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioMixerOutPpsChanged"> audioMixerOutPpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioMixerOutPps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioMixerPpsChanged"> audioMixerPpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioMixerPps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioNoiseGateChanged"> audioNoiseGateChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioNoiseGate</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioOutboundPPSChanged"> audioOutboundPPSChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioOutboundPPS</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioPacketLossChanged"> audioPacketLossChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioPacketLoss</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioPingChanged"> audioPingChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioPing</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioSilentInboundPPSChanged"> audioSilentInboundPPSChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioSilentInboundPPS</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".audioSilentOutboundPPSChanged"> audioSilentOutboundPPSChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>audioSilentOutboundPPS</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".avatarCountChanged"> avatarCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>avatarCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".avatarMixerInKbpsChanged"> avatarMixerInKbpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>avatarMixerInKbps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".avatarMixerInPpsChanged"> avatarMixerInPpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>avatarMixerInPps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".avatarMixerOutKbpsChanged"> avatarMixerOutKbpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>avatarMixerOutKbps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".avatarMixerOutPpsChanged"> avatarMixerOutPpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>avatarMixerOutPps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".avatarPingChanged"> avatarPingChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>avatarPing</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".avatarSimulationTimeChanged"> avatarSimulationTimeChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>avatarSimulationTime</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".baselineOffsetChanged"> baselineOffsetChanged<span class="signature">(baselineOffset)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>baselineOffset</code> property changes.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>baselineOffset</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".batchFrameTimeChanged"> batchFrameTimeChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>batchFrameTime</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".childrenRectChanged"> childrenRectChanged<span class="signature">(childrenRect)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the position and size of the rectangle containing the children changes.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>childrenRect</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/globals#Rect">Rect</a></span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".clipChanged"> clipChanged<span class="signature">(clip)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>clip</code> property changes.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>clip</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".collisionPicksCountChanged"> collisionPicksCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>collisionPicksCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".collisionPicksUpdatedChanged"> collisionPicksUpdatedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>collisionPicksUpdated</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".decimatedTextureCountChanged"> decimatedTextureCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>decimatedTextureCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".downloadLimitChanged"> downloadLimitChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>downloadLimit</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".downloadsChanged"> downloadsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>downloads</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".downloadsPendingChanged"> downloadsPendingChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>downloadsPending</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".downloadUrlsChanged"> downloadUrlsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>downloadUrls</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".drawcallsChanged"> drawcallsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>drawcalls</code> property changes. This</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".enabledChanged"> enabledChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>enabled</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".engineFrameTimeChanged"> engineFrameTimeChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>engineFrameTime</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".entitiesPingChanged"> entitiesPingChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>entitiesPing</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".entityPacketsInKbpsChanged"> entityPacketsInKbpsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>entityPacketsInKbps</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".expandedChanged"> expandedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>expanded</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".focusChanged"> focusChanged<span class="signature">(focus)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>focus</code> property changes.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>focus</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gameLoopRateChanged"> gameLoopRateChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gameLoopRate</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gameUpdateStatsChanged"> gameUpdateStatsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gameUpdateStats</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".glContextSwapchainMemoryChanged"> glContextSwapchainMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>glContextSwapchainMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuBufferMemoryChanged"> gpuBufferMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuBufferMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuBuffersChanged"> gpuBuffersChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuBuffers</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuFrameTimeChanged"> gpuFrameTimeChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuFrameTime</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuFrameTimeChanged"> gpuFrameTimeChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuFrameTime</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuFrameTimeChanged"> gpuFrameTimeChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuFrameTime</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuFreeMemoryChanged"> gpuFreeMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuFreeMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuTextureExternalMemoryChanged"> gpuTextureExternalMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuTextureExternalMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuTextureFramebufferMemoryChanged"> gpuTextureFramebufferMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuTextureFramebufferMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuTextureMemoryChanged"> gpuTextureMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuTextureMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuTextureMemoryPressureStateChanged"> gpuTextureMemoryPressureStateChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuTextureMemoryPressureState</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuTextureResidentMemoryChanged"> gpuTextureResidentMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuTextureResidentMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuTextureResourceIdealMemoryChanged"> gpuTextureResourceIdealMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuTextureResourceIdealMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuTextureResourceMemoryChanged"> gpuTextureResourceMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuTextureResourceMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuTextureResourcePopulatedMemoryChanged"> gpuTextureResourcePopulatedMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuTextureResourcePopulatedMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".gpuTexturesChanged"> gpuTexturesChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>gpuTextures</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".heightChanged"> heightChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>height</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".implicitHeightChanged"> implicitHeightChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>implicitHeight</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".implicitWidthChanged"> implicitWidthChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>implicitWidth</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".itemConsideredChanged"> itemConsideredChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>itemConsidered</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".itemOutOfViewChanged"> itemOutOfViewChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>itemOutOfView</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".itemRenderedChanged"> itemRenderedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>itemRendered</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".itemTooSmallChanged"> itemTooSmallChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>itemTooSmall</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".localElementsChanged"> localElementsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>localElements</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".localInternalChanged"> localInternalChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>localInternal</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".localLeavesChanged"> localLeavesChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>localLeaves</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".lodStatusChanged"> lodStatusChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>lodStatus</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".longframesChanged"> longframesChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>longframes</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".longrendersChanged"> longrendersChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>longrenders</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".longsubmitsChanged"> longsubmitsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>longsubmits</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".materialSwitchesChanged"> materialSwitchesChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>materialSwitches</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".mbpsInChanged"> mbpsInChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>mbpsIn</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".mbpsOutChanged"> mbpsOutChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>mbpsOut</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".messagePingChanged"> messagePingChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>messagePing</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".myAvatarSendRateChanged"> myAvatarSendRateChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>myAvatarSendRate</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".notUpdatedAvatarCountChanged"> notUpdatedAvatarCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>notUpdatedAvatarCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".numPhysicsBodiesChanged"> numPhysicsBodiesChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Trigered when</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".opacityChanged"> opacityChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>opacity</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".packetInCountChanged"> packetInCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>packetInCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".packetOutCountChanged"> packetOutCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>packetOutCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".packetStatsChanged"> packetStatsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>packetStats</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".parabolaPicksCountChanged"> parabolaPicksCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>parabolaPicksCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".parabolaPicksUpdatedChanged"> parabolaPicksUpdatedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>parabolaPicksUpdated</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".parentChanged"> parentChanged<span class="signature">(parent)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the parent item changes.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>parent</code></td>
        <td class="type"> <span class="param-type">object</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".positionChanged"> positionChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>position</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".presentdroprateChanged"> presentdroprateChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>presentdroprate</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".presentnewrateChanged"> presentnewrateChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>presentnewrate</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".presentrateChanged"> presentrateChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>presentrate</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".processingChanged"> processingChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>processing</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".processingPendingChanged"> processingPendingChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>processingPending</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".qmlTextureMemoryChanged"> qmlTextureMemoryChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>qmlTextureMemory</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".rayPicksCountChanged"> rayPicksCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>rayPicksCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".rayPicksUpdatedChanged"> rayPicksUpdatedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>rayPicksUpdated</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".rectifiedTextureCountChanged"> rectifiedTextureCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>rectifiedTextureCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".renderrateChanged"> renderrateChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>renderrate</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".rotationChanged"> rotationChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>rotation</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".scaleChanged"> scaleChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>scaleChanged</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".sendingModeChanged"> sendingModeChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>sendingMode</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".serverCountChanged"> serverCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>serverCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".serverElementsChanged"> serverElementsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>serverElements</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".serverInternalChanged"> serverInternalChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>serverInternal</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".serverLeavesChanged"> serverLeavesChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>serverLeaves</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".shadowConsideredChanged"> shadowConsideredChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>shadowConsidered</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".shadowOutOfViewChanged"> shadowOutOfViewChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>shadowOutOfView</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".shadowRenderedChanged"> shadowRenderedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>shadowRendered</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".shadowTooSmallChanged"> shadowTooSmallChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>shadowTooSmall</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".smoothChanged"> smoothChanged<span class="signature">(smooth)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>smooth</code> property changes.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>smooth</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".speedChanged"> speedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>speed</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".stateChanged"> stateChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>state</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".stutterrateChanged"> stutterrateChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>stutterrate</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".stylusPicksCountChanged"> stylusPicksCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>stylusPicksCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".stylusPicksUpdatedChanged"> stylusPicksUpdatedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>stylusPicksUpdated</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".texturePendingTransfersChanged"> texturePendingTransfersChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>texturePendingTransfers</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".timingExpandedChanged"> timingExpandedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>timingExpanded</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".timingStatsChanged"> timingStatsChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>timingStats</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".transformOriginChanged"> transformOriginChanged<span class="signature">(transformOrigin)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>transformOrigin</code> property changes.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>transformOrigin</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".trianglesChanged"> trianglesChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>triangles</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".updatedAvatarCountChanged"> updatedAvatarCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>updatedAvatarCount</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".visibleChanged"> visibleChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>visibleChanged</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".visibleChildrenChanged"> visibleChildrenChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the list of visible children changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".widthChanged"> widthChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>width</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".windowChanged"> windowChanged<span class="signature">(window)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>window</code></td>
        <td class="type"> <span class="param-type">object</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".xChanged"> xChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>x</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".yawChanged"> yawChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>yaw</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".yChanged"> yChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>y</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".zChanged"> zChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when the value of the <code>z</code> property changes.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
</article>
</section>
              </div>
          </div>
      {% endblock %}