      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
          </tr>
        </tbody>
      </table><br>The Clipboard API enables you to export and import entities to and from JSON files.
    </div>
    <div>
      <h5>Methods</h5>
    </div>
    <div><a href="#.exportEntities">exportEntities</a></div>
    <div><a href="#.exportEntities">exportEntities</a></div>
    <div><a href="#.getClipboardContentsLargestDimension">getClipboardContentsLargestDimension</a></div>
    <div><a href="#.getContentsDimensions">getContentsDimensions</a></div>
    <div><a href="#.importEntities">importEntities</a></div>
    <div><a href="#.pasteEntities">pasteEntities</a></div><br>
  </div>
  <h4 class="subsection-title">Methods</h4>
  <h5 class="name" id=".exportEntities"> exportEntities<span class="signature">(filename, x, y, z, scale)</span> <span class="type-signature">&#x2192; {boolean}</span></h5>
  <div class="description"> Export the entities with centers within a cube to a JSON file.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>filename</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last">Path and name of the file to export the entities to. Should have the extension &quot;.json&quot;.</td>
      </tr>
      <tr>
        <td class="name"><code>x</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last">X-coordinate of the cube center.</td>
      </tr>
      <tr>
        <td class="name"><code>y</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last">Y-coordinate of the cube center.</td>
      </tr>
      <tr>
        <td class="name"><code>z</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last">Z-coordinate of the cube center.</td>
      </tr>
      <tr>
        <td class="name"><code>scale</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last">Half dimension of the cube.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <div class="param-desc"> <code>true</code> if the export was successful, otherwise <code>false</code>.</div>
  <dl><dt> Type: boolean</dt></dl>
  <h5 class="name" id=".exportEntities"> exportEntities<span class="signature">(filename, entityIDs)</span> <span class="type-signature">&#x2192; {boolean}</span></h5>
  <div class="description"> Export the entities specified to a JSON file.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>filename</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last">Path and name of the file to export the entities to. Should have the extension &quot;.json&quot;.</td>
      </tr>
      <tr>
        <td class="name"><code>entityIDs</code></td>
        <td class="type"> <span class="param-type">Array.&lt;<a href="/api-reference/namespaces/uuid">Uuid</a>&gt;</span></td>
        <td class="description last">Array of IDs of the entities to export.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <div class="param-desc"> <code>true</code> if the export was successful, otherwise <code>false</code>.</div>
  <dl><dt> Type: boolean</dt></dl>
  <h5 class="name" id=".getClipboardContentsLargestDimension"> getClipboardContentsLargestDimension<span class="signature">()</span> <span class="type-signature">&#x2192; {number}</span></h5>
  <div class="description"> Compute the largest dimension of the extents of the contents held in the clipboard.</div>
  <h6>Returns:</h6>
  <div class="param-desc"> The largest dimension computed.</div>
  <dl><dt> Type: number</dt></dl>
  <h5 class="name" id=".getContentsDimensions"> getContentsDimensions<span class="signature">()</span> <span class="type-signature">&#x2192; {<a href="/api-reference/globals#Vec3">Vec3</a>}</span></h5>
  <div class="description"> Compute the extents of the contents held in the clipboard.</div>
  <h6>Returns:</h6>
  <div class="param-desc"> The extents of the contents held in the clipboard.</div>
  <dl><dt> Type: <a href="/api-reference/globals#Vec3">Vec3</a></dt></dl>
  <h5 class="name" id=".importEntities"> importEntities<span class="signature">(filename, does, optional)</span> <span class="type-signature">&#x2192; {boolean}</span></h5>
  <div class="description"> Import entities from a JSON file containing entity data into the clipboard. You can generate a JSON file using <a href="/api-reference/namespaces/clipboard#.exportEntities">Clipboard.exportEntities</a>.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>filename</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last">Path and name of file to import.</td>
      </tr>
      <tr>
        <td class="name"><code>does</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last">the ResourceRequestObserver observe this request?</td>
      </tr>
      <tr>
        <td class="name"><code>optional</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last">internal id of object causing this import.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <div class="param-desc"> <code>true</code> if the import was successful, otherwise <code>false</code>.</div>
  <dl><dt> Type: boolean</dt></dl>
  <h5 class="name" id=".pasteEntities"> pasteEntities<span class="signature">(position)</span> <span class="type-signature">&#x2192; {Array.&lt;<a href="/api-reference/namespaces/uuid">Uuid</a>&gt;}</span></h5>
  <div class="description"> Paste the contents of the clipboard into the world.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>position</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/globals#Vec3">Vec3</a></span></td>
        <td class="description last">Position to paste the clipboard contents at.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <div class="param-desc"> Array of entity IDs for the new entities that were created as a result of the paste operation.</div>
  <dl><dt> Type: Array.&lt;<a href="/api-reference/namespaces/uuid">Uuid</a>&gt;</dt></dl>
</article>
</section>
              </div>
          </div>
      {% endblock %}