      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
            <td>Server Entity Scripts</td>
            <td>Assignment Client Scripts</td>
          </tr>
        </tbody>
      </table><br>
    </div>
    <div>
      <h5>Methods</h5>
    </div>
    <div><a href="#release">release</a></div><br>
    <div>
      <h5>Signals</h5>
    </div>
    <div><a href="#progressChanged">progressChanged</a></div>
    <div><a href="#stateChanged">stateChanged</a></div><br>
    <h5 class="subsection-title">Properties:</h5>
    <table class="props">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th class="last">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name"><code>url</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last">URL of this resource.</td>
        </tr>
        <tr>
          <td class="name"><code>state</code></td>
          <td class="type"> <span class="param-type"><a href="/api-reference/namespaces/resource#.State">Resource.State</a></span></td>
          <td class="description last">Current loading state.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="subsection-title">Methods</h4>
  <h5 class="name" id="release"><span class="type-signature"></span>release<span class="signature">()</span><span class="type-signature"></span></h5>
  <div class="description"> Release this resource.</div>
  <h4 class="subsection-title">Signals</h4>
  <h5 class="name" id="progressChanged"><span class="type-signature"></span>progressChanged<span class="signature">(bytesReceived, bytesTotal)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when download progress for this resource has changed.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>bytesReceived</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last">Byytes downloaded so far.</td>
      </tr>
      <tr>
        <td class="name"><code>bytesTotal</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last">Total number of bytes in the resource.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id="stateChanged"><span class="type-signature"></span>stateChanged<span class="signature">(state)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when resource loading state has changed.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>state</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/namespaces/resource#.State">Resource.State</a></span></td>
        <td class="description last">New state.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
</article>
</section>
              </div>
          </div>
      {% endblock %}