      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
          </tr>
        </tbody>
      </table><br>
    </div>
    <div>
      <h5>Methods</h5>
    </div>
    <div><a href="#.getLocal">getLocal</a></div>
    <div><a href="#.getPublic">getPublic</a></div>
    <div><a href="#.getRunning">getRunning</a></div>
    <div><a href="#.loadOneScript">loadOneScript</a></div>
    <div><a href="#.loadScript">loadScript</a></div>
    <div><a href="#.onClearDebugWindow">onClearDebugWindow</a></div>
    <div><a href="#.onErrorLoadingScript">onErrorLoadingScript</a></div>
    <div><a href="#.onErrorMessage">onErrorMessage</a></div>
    <div><a href="#.onInfoMessage">onInfoMessage</a></div>
    <div><a href="#.onPrintedMessage">onPrintedMessage</a></div>
    <div><a href="#.onScriptFinished">onScriptFinished</a></div>
    <div><a href="#.onWarningMessage">onWarningMessage</a></div>
    <div><a href="#.reloadAllScripts">reloadAllScripts</a></div>
    <div><a href="#.stopAllScripts">stopAllScripts</a></div>
    <div><a href="#.stopScript">stopScript</a></div><br>
    <div>
      <h5>Signals</h5>
    </div>
    <div><a href="#.clearDebugWindow">clearDebugWindow</a></div>
    <div><a href="#.errorLoadingScript">errorLoadingScript</a></div>
    <div><a href="#.errorMessage">errorMessage</a></div>
    <div><a href="#.infoMessage">infoMessage</a></div>
    <div><a href="#.printedMessage">printedMessage</a></div>
    <div><a href="#.scriptCountChanged">scriptCountChanged</a></div>
    <div><a href="#.scriptLoadError">scriptLoadError</a></div>
    <div><a href="#.scriptsReloading">scriptsReloading</a></div>
    <div><a href="#.warningMessage">warningMessage</a></div><br>
    <h5 class="subsection-title">Properties:</h5>
    <table class="props">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th class="last">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name"><code>debugScriptUrl</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>defaultScriptsPath</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>scriptsModel</code></td>
          <td class="type"> <span class="param-type"><a href="/api-reference/objects/scriptsmodel">ScriptsModel</a></span></td>
          <td class="description last"></td>
        </tr>
        <tr>
          <td class="name"><code>scriptsModelFilter</code></td>
          <td class="type"> <span class="param-type"><a href="/api-reference/objects/scriptsmodelfilter">ScriptsModelFilter</a></span></td>
          <td class="description last"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="subsection-title">Methods</h4>
  <h5 class="name" id=".getLocal"> getLocal<span class="signature">()</span> <span class="type-signature">&#x2192; {Array.&lt;object&gt;}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Array.&lt;object&gt;</dt></dl>
  <h5 class="name" id=".getPublic"> getPublic<span class="signature">()</span> <span class="type-signature">&#x2192; {Array.&lt;object&gt;}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Array.&lt;object&gt;</dt></dl>
  <h5 class="name" id=".getRunning"> getRunning<span class="signature">()</span> <span class="type-signature">&#x2192; {Array.&lt;object&gt;}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Array.&lt;object&gt;</dt></dl>
  <h5 class="name" id=".loadOneScript"> loadOneScript<span class="signature">(filename)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>filename</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".loadScript"> loadScript<span class="signature">(filename<span class="signature-attributes">opt</span>, isUserLoaded<span class="signature-attributes">opt</span>, loadScriptFromEditor<span class="signature-attributes">opt</span>, activateMainWindow<span class="signature-attributes">opt</span>, reload<span class="signature-attributes">opt</span>, quitWhenFinished<span class="signature-attributes">opt</span>)</span> <span class="type-signature">&#x2192; {boolean}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Attributes</th>
        <th>Default</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>filename</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> &quot;&quot;</td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>isUserLoaded</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> true</td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>loadScriptFromEditor</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> false</td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>activateMainWindow</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> false</td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>reload</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> false</td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>quitWhenFinished</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> false</td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: boolean</dt></dl>
  <h5 class="name" id=".onClearDebugWindow"> onClearDebugWindow<span class="signature">()</span><span class="type-signature"></span></h5>
  <h5 class="name" id=".onErrorLoadingScript"> onErrorLoadingScript<span class="signature">(url)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>url</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".onErrorMessage"> onErrorMessage<span class="signature">(message, scriptName)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>message</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>scriptName</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".onInfoMessage"> onInfoMessage<span class="signature">(message, scriptName)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>message</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>scriptName</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".onPrintedMessage"> onPrintedMessage<span class="signature">(message, scriptName)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>message</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>scriptName</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".onScriptFinished"> onScriptFinished<span class="signature">(filename, engine)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>filename</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>engine</code></td>
        <td class="type"> <span class="param-type">object</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".onWarningMessage"> onWarningMessage<span class="signature">(message, scriptName)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>message</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>scriptName</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".reloadAllScripts"> reloadAllScripts<span class="signature">()</span><span class="type-signature"></span></h5>
  <h5 class="name" id=".stopAllScripts"> stopAllScripts<span class="signature">(restart<span class="signature-attributes">opt</span>)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Attributes</th>
        <th>Default</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>restart</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> false</td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".stopScript"> stopScript<span class="signature">(scriptHash, restart<span class="signature-attributes">opt</span>)</span> <span class="type-signature">&#x2192; {boolean}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Attributes</th>
        <th>Default</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>scriptHash</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="attributes"></td>
        <td class="default"></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>restart</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="attributes"> &lt;optional&gt;<br></td>
        <td class="default"> false</td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: boolean</dt></dl>
  <h4 class="subsection-title">Signals</h4>
  <h5 class="name" id=".clearDebugWindow"> clearDebugWindow<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".errorLoadingScript"> errorLoadingScript<span class="signature">(url)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>url</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".errorMessage"> errorMessage<span class="signature">(message, engineName)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>message</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>engineName</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".infoMessage"> infoMessage<span class="signature">(message, engineName)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>message</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>engineName</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".printedMessage"> printedMessage<span class="signature">(message, engineName)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>message</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>engineName</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".scriptCountChanged"> scriptCountChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".scriptLoadError"> scriptLoadError<span class="signature">(filename, error)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>filename</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>error</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".scriptsReloading"> scriptsReloading<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".warningMessage"> warningMessage<span class="signature">(message, engineName)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>message</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
      <tr>
        <td class="name"><code>engineName</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
</article>
</section>
              </div>
          </div>
      {% endblock %}