      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
            <td>Server Entity Scripts</td>
            <td>Assignment Client Scripts</td>
          </tr>
        </tbody>
      </table><br>A handle for a mesh in an entity, such as returned by <a href="/api-reference/namespaces/entities#.getMeshes">Entities.getMeshes</a>.
    </div>
    <div>
      <h5>Methods</h5>
    </div>
    <div><a href="#getNumVertices">getNumVertices</a></div>
    <div><a href="#getPos">getPos</a></div><br>
    <dl class="details"><em><strong><dt class="important tag-deprecated">Deprecated:</dt></strong><div>Use the <a href="/api-reference/namespaces/graphics">Graphics</a> API instead.</li></div></em></dl>
  </div>
  <h4 class="subsection-title">Methods</h4>
  <h5 class="name" id="getNumVertices"><span class="type-signature"></span>getNumVertices<span class="signature">()</span> <span class="type-signature">&#x2192; {number}</span></h5>
  <div class="description"> Get the number of vertices in the mesh.</div>
  <dl class="details"><em><strong><dt class="important tag-deprecated">Deprecated:</dt></strong><div>Use the <a href="/api-reference/namespaces/graphics">Graphics</a> API instead.</li></div></em></dl>
  <h6>Returns:</h6>
  <div class="param-desc"> Integer number of vertices in the mesh.</div>
  <dl><dt> Type: number</dt></dl>
  <h5 class="name" id="getPos"><span class="type-signature"></span>getPos<span class="signature">(index)</span> <span class="type-signature">&#x2192; {<a href="/api-reference/globals#Vec3">Vec3</a>}</span></h5>
  <div class="description"> Get the position of a vertex in the mesh.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>index</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last">Integer index of the mesh vertex.</td>
      </tr>
    </tbody>
  </table>
  <dl class="details"><em><strong><dt class="important tag-deprecated">Deprecated:</dt></strong><div>Use the <a href="/api-reference/namespaces/graphics">Graphics</a> API instead.</li></div></em></dl>
  <h6>Returns:</h6>
  <div class="param-desc"> Local position of the vertex relative to the mesh.</div>
  <dl><dt> Type: <a href="/api-reference/globals#Vec3">Vec3</a></dt></dl>
</article>
</section>
              </div>
          </div>
      {% endblock %}