    {% extends 'partials/base_noGit.html.twig' %}
    {% set tags = page.taxonomy.tag %}
    {% if tags %}
        {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
    {% else %}
        {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
    {% endif %}
    
    {% block navigation %}
        <div id="navigation">
        {% if not progress.isFirst(page.path) %}
            <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
        {% endif %}
    
        {% if not progress.isLast(page.path) %}
            <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
        {% endif %}
        </div>
    {% endblock %}
    
    {% block content %}
        <div id="api-specific">
            <div id="body-inner">
                <h1>{{ page.title }}</h1>
                <div>
<a href="/api-reference/namespaces/">Namespaces</a>
</div>
<div>
<a href="/api-reference/objects/">Objects</a>
</div>
<div>
<a href="/api-reference/globals/">Globals</a>
</div>
            </div>
        </div>
    {% endblock %}