      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
            <td>Assignment Client Scripts</td>
          </tr>
        </tbody>
      </table><br>The location API provides facilities related to your current location in the metaverse.<h5>Getter/Setter</h5>
      <p>You can get and set your current metaverse address by directly reading a string value from and writing a string value to the <code>location</code> object. This is an alternative to using the <code>location.href</code> property or this object&apos;s functions.</p>
    </div>
    <div>
      <h5>Methods</h5>
    </div>
    <div><a href="#.canGoBack">canGoBack</a></div>
    <div><a href="#.copyAddress">copyAddress</a></div>
    <div><a href="#.copyPath">copyPath</a></div>
    <div><a href="#.goBack">goBack</a></div>
    <div><a href="#.goForward">goForward</a></div>
    <div><a href="#.goToEntry">goToEntry</a></div>
    <div><a href="#.goToLastAddress">goToLastAddress</a></div>
    <div><a href="#.goToLocalSandbox">goToLocalSandbox</a></div>
    <div><a href="#.goToUser">goToUser</a></div>
    <div><a href="#.goToViewpointForPath">goToViewpointForPath</a></div>
    <div><a href="#.handleLookupString">handleLookupString</a></div>
    <div><a href="#.lookupShareableNameForDomainID">lookupShareableNameForDomainID</a></div>
    <div><a href="#.refreshPreviousLookup">refreshPreviousLookup</a></div>
    <div><a href="#.storeCurrentAddress">storeCurrentAddress</a></div><br>
    <div>
      <h5>Signals</h5>
    </div>
    <div><a href="#.goBackPossible">goBackPossible</a></div>
    <div><a href="#.goForwardPossible">goForwardPossible</a></div>
    <div><a href="#.hostChanged">hostChanged</a></div>
    <div><a href="#.locationChangeRequired">locationChangeRequired</a></div>
    <div><a href="#.lookupResultIsNotFound">lookupResultIsNotFound</a></div>
    <div><a href="#.lookupResultIsOffline">lookupResultIsOffline</a></div>
    <div><a href="#.lookupResultsFinished">lookupResultsFinished</a></div>
    <div><a href="#.pathChangeRequired">pathChangeRequired</a></div>
    <div><a href="#.possibleDomainChangeRequired">possibleDomainChangeRequired</a></div>
    <div><a href="#.possibleDomainChangeRequiredViaICEForID">possibleDomainChangeRequiredViaICEForID</a></div><br>
    <div>
      <h5>Type Definitions</h5>
    </div>
    <div><a href="#.LookupTrigger">LookupTrigger</a></div><br>
    <h5 class="subsection-title">Properties:</h5>
    <table class="props">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th class="last">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name"><code>domainID</code></td>
          <td class="type"> <span class="param-type"><a href="/api-reference/namespaces/uuid">Uuid</a></span></td>
          <td class="description last">A UUID uniquely identifying the domain you&apos;re visiting. Is <a href="/api-reference/namespaces/uuid">Uuid.NULL</a> if you&apos;re not connected to the domain or are in a serverless domain. <em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>hostname</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last">The name of the domain for your current metaverse address (e.g., <code>&quot;AvatarIsland&quot;</code>, <code>localhost</code>, or an IP address). Is blank if you&apos;re in a serverless domain. <em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>href</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last">Your current metaverse address (e.g., <code>&quot;hifi://avatarisland/15,-10,26/0,0,0,1&quot;</code>) regardless of whether or not you&apos;re connected to the domain. Starts with <code>&quot;file:///&quot;</code> if you&apos;re in a serverless domain. <em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>isConnected</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"><code>true</code> if you&apos;re connected to the domain in your current <code>href</code> metaverse address, otherwise <code>false</code>.</td>
        </tr>
        <tr>
          <td class="name"><code>pathname</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last">The location and orientation in your current <code>href</code> metaverse address (e.g., <code>&quot;/15,-10,26/0,0,0,1&quot;</code>). <em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>placename</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last">The place name in your current <code>href</code> metaverse address (e.g., <code>&quot;AvatarIsland&quot;</code>). Is blank if your <code>hostname</code> is an IP address. <em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>protocol</code></td>
          <td class="type"> <span class="param-type">string</span></td>
          <td class="description last">The protocol of your current <code>href</code> metaverse address (e.g., <code>&quot;hifi&quot;</code>). <em>Read-only.</em></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="subsection-title">Methods</h4>
  <h5 class="name" id=".canGoBack"> canGoBack<span class="signature">()</span><span class="type-signature"></span></h5>
  <div class="description"> Returns if going back is possible.</div>
  <h5 class="name" id=".copyAddress"> copyAddress<span class="signature">()</span><span class="type-signature"></span></h5>
  <div class="description"> Copy your current metaverse address (i.e., <code>location.href</code> property value) to the OS clipboard.</div>
  <h5 class="name" id=".copyPath"> copyPath<span class="signature">()</span><span class="type-signature"></span></h5>
  <div class="description"> Copy your current metaverse location and orientation (i.e., <code>location.pathname</code> property value) to the OS clipboard.</div>
  <h5 class="name" id=".goBack"> goBack<span class="signature">()</span><span class="type-signature"></span></h5>
  <div class="description"> Go back to the previous location in your navigation history, if there is one.</div>
  <h5 class="name" id=".goForward"> goForward<span class="signature">()</span><span class="type-signature"></span></h5>
  <div class="description"> Go forward to the next location in your navigation history, if there is one.</div>
  <h5 class="name" id=".goToEntry"> goToEntry<span class="signature">(trigger)</span><span class="type-signature"></span></h5>
  <div class="description"> Go to the default &quot;welcome&quot; metaverse address.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>trigger</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/namespaces/location#.LookupTrigger">location.LookupTrigger</a></span></td>
        <td class="default"> StartupFromSettings</td>
        <td class="description last">The reason for the function call. Helps ensure that user&apos;s location history is correctly maintained.</td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".goToLastAddress"> goToLastAddress<span class="signature">()</span><span class="type-signature"></span></h5>
  <div class="description"> Go to the last address tried. This will be the last URL tried from location.handleLookupString</div>
  <h5 class="name" id=".goToLocalSandbox"> goToLocalSandbox<span class="signature">(path, trigger)</span><span class="type-signature"></span></h5>
  <div class="description"> Go to the local Sandbox server that&apos;s running on the same PC as Interface.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>path</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="default"> &quot;&quot;</td>
        <td class="description last">The position and orientation to go to (e.g., <code>&quot;/0,0,0&quot;</code>).</td>
      </tr>
      <tr>
        <td class="name"><code>trigger</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/namespaces/location#.LookupTrigger">location.LookupTrigger</a></span></td>
        <td class="default"> StartupFromSettings</td>
        <td class="description last">The reason for the function call. Helps ensure that user&apos;s location history is correctly maintained.</td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".goToUser"> goToUser<span class="signature">(username, matchOrientation)</span><span class="type-signature"></span></h5>
  <div class="description"> Go to the specified user&apos;s location.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>username</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="default"></td>
        <td class="description last">The user&apos;s username.</td>
      </tr>
      <tr>
        <td class="name"><code>matchOrientation</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="default"> true</td>
        <td class="description last">If <code>true</code> then go to a location just in front of the user and turn to face them, otherwise go to the user&apos;s exact location and orientation.</td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".goToViewpointForPath"> goToViewpointForPath<span class="signature">(path, namedPath)</span><span class="type-signature"></span></h5>
  <div class="description"> Go to a position and orientation resulting from a lookup for a named path in the domain (set in the domain server&apos;s settings).</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>path</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last">The position and orientation corresponding to the named path.</td>
      </tr>
      <tr>
        <td class="name"><code>namedPath</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last">The named path that was looked up on the server.</td>
      </tr>
    </tbody>
  </table>
  <dl class="details"><em><strong><dt class="important tag-deprecated">Deprecated:</dt></strong><div>This function is deprecated and will be removed.</li></div></em></dl>
  <h5 class="name" id=".handleLookupString"> handleLookupString<span class="signature">(address, fromSuggestions)</span><span class="type-signature"></span></h5>
  <div class="description"> Go to a specified metaverse address.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>address</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="default"></td>
        <td class="description last">The address to go to: a <code>&quot;hifi://&quot; <code>address, an IP address (e.g., <code>&quot;127.0.0.1&quot;</code> or <code>&quot;localhost&quot;</code>), a domain name, a named path on a domain (starts with <code>&quot;/&quot;</code>), a position or position and orientation, or a user (starts with <code>&quot;@&quot;</code>).</code></code></td>
      </tr>
      <tr>
        <td class="name"><code>fromSuggestions</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="default"> false</td>
        <td class="description last">Set to <code>true</code> if the address is obtained from the &quot;Goto&quot; dialog. Helps ensure that user&apos;s location history is correctly maintained.</td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".lookupShareableNameForDomainID"> lookupShareableNameForDomainID<span class="signature">(domainID)</span><span class="type-signature"></span></h5>
  <div class="description"> Retrieve and remember the place name for the given domain ID if the place name is not already known.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>domainID</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/namespaces/uuid">Uuid</a></span></td>
        <td class="description last">The UUID of the domain.</td>
      </tr>
    </tbody>
  </table>
  <dl class="details"><em><strong><dt class="important tag-deprecated">Deprecated:</dt></strong><div>This function is deprecated and will be removed.</li></div></em></dl>
  <h5 class="name" id=".refreshPreviousLookup"> refreshPreviousLookup<span class="signature">()</span><span class="type-signature"></span></h5>
  <div class="description"> Refresh the current address, e.g., after connecting to a domain in order to position the user to the desired location.</div>
  <dl class="details"><em><strong><dt class="important tag-deprecated">Deprecated:</dt></strong><div>This function is deprecated and will be removed.</li></div></em></dl>
  <h5 class="name" id=".storeCurrentAddress"> storeCurrentAddress<span class="signature">()</span><span class="type-signature"></span></h5>
  <div class="description"> Update your current metaverse location in Interface&apos;s <a href="/api-reference/namespaces/settings">Settings</a> file as your last-known address. This can be used to ensure that you start up at that address if you exit Interface without a later address automatically being saved.</div>
  <h4 class="subsection-title">Signals</h4>
  <h5 class="name" id=".goBackPossible"> goBackPossible<span class="signature">(isPossible)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when there&apos;s a change in whether or not there&apos;s a previous location that can be navigated to using <a href="/api-reference/namespaces/location#.goBack">goBack</a>. (Reflects changes in the state of the &quot;Goto&quot; dialog&apos;s back arrow.)</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>isPossible</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"><code>true</code> if there&apos;s a previous location to navigate to, otherwise <code>false</code>.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5>Example</h5>
  <p class="code-caption">Report when ability to navigate back changes.</p><pre><code>function onGoBackPossible(isPossible) {
  print(&quot;Go back possible: &quot; + isPossible);
}

location.goBackPossible.connect(onGoBackPossible);</code></pre>
  <h5 class="name" id=".goForwardPossible"> goForwardPossible<span class="signature">(isPossible)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when there&apos;s a change in whether or not there&apos;s a forward location that can be navigated to using <a href="/api-reference/namespaces/location#.goForward">goForward</a>. (Reflects changes in the state of the &quot;Goto&quot; dialog&apos;s forward arrow.)</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>isPossible</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"><code>true</code> if there&apos;s a forward location to navigate to, otherwise <code>false</code>.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5>Example</h5>
  <p class="code-caption">Report when ability to navigate forward changes.</p><pre><code>function onGoForwardPossible(isPossible) {
  print(&quot;Go forward possible: &quot; + isPossible);
}

location.goForwardPossible.connect(onGoForwardPossible);
   </code></pre>
  <h5 class="name" id=".hostChanged"> hostChanged<span class="signature">(hostname)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when you navigate to a new domain.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>hostname</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last">The new domain&apos;s host name.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5>Example</h5>
  <p class="code-caption">Report when you navigate to a new domain.</p><pre><code>function onHostChanged(host) {
  print(&quot;Host changed to: &quot; + host);
}

location.hostChanged.connect(onHostChanged);</code></pre>
  <h5 class="name" id=".locationChangeRequired"> locationChangeRequired<span class="signature">(position, hasOrientationChange, orientation, shouldFaceLocation)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when an attempt is made to send your avatar to a specified position on the current domain. For example, when you change domains or enter a position to go to in the &quot;Goto&quot; dialog.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>position</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/globals#Vec3">Vec3</a></span></td>
        <td class="description last">The position to go to.</td>
      </tr>
      <tr>
        <td class="name"><code>hasOrientationChange</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last">If <code>true</code> then a new <code>orientation</code> has been requested.</td>
      </tr>
      <tr>
        <td class="name"><code>orientation</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/globals#Quat">Quat</a></span></td>
        <td class="description last">The orientation to change to. Is <a href="/api-reference/namespaces/quat">Quat.IDENTITY</a> if <code>hasOrientationChange</code> is <code>false</code>.</td>
      </tr>
      <tr>
        <td class="name"><code>shouldFaceLocation</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last">If <code>true</code> then the request is to go to a position near that specified and orient your avatar to face it. For example when you visit someone from the &quot;People&quot; dialog.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5>Example</h5>
  <p class="code-caption">Report location change requests.</p><pre><code>function onLocationChangeRequired(newPosition, hasOrientationChange, newOrientation, shouldFaceLocation) {
  print(&quot;Location change required:&quot;);
  print(&quot;- New position = &quot; + JSON.stringify(newPosition));
  print(&quot;- Has orientation change = &quot; + hasOrientationChange);
  print(&quot;- New orientation = &quot; + JSON.stringify(newOrientation));
  print(&quot;- Should face location = &quot; + shouldFaceLocation);
}

location.locationChangeRequired.connect(onLocationChangeRequired);</code></pre>
  <h5 class="name" id=".lookupResultIsNotFound"> lookupResultIsNotFound<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when looking up the details of a metaverse user or location to go to has completed and the domain or user could not be found.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".lookupResultIsOffline"> lookupResultIsOffline<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when looking up the details of a metaverse user or location to go to has completed and the domain or user is offline.</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".lookupResultsFinished"> lookupResultsFinished<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when looking up the details of a metaverse user or location to go to has completed (successfully or unsuccessfully).</div>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".pathChangeRequired"> pathChangeRequired<span class="signature">(path)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when an attempt is made to send your avatar to a new named path on the domain (set in the domain server&apos;s settings). For example, when you enter a &quot;/&quot; followed by the path&apos;s name in the &quot;GOTO&quot; dialog.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>path</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last">The name of the path to go to.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5>Example</h5>
  <p class="code-caption">Report path change requests.</p><pre><code>function onPathChangeRequired(newPath) {
  print(&quot;onPathChangeRequired: newPath = &quot; + newPath);
}

location.pathChangeRequired.connect(onPathChangeRequired);</code></pre>
  <h5 class="name" id=".possibleDomainChangeRequired"> possibleDomainChangeRequired<span class="signature">(domainURL, domainID)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when a request is made to go to an IP address.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>domainURL</code></td>
        <td class="type"> <span class="param-type">Url</span></td>
        <td class="description last">URL for domain</td>
      </tr>
      <tr>
        <td class="name"><code>domainID</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/namespaces/uuid">Uuid</a></span></td>
        <td class="description last">The UUID of the domain to go to.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".possibleDomainChangeRequiredViaICEForID"> possibleDomainChangeRequiredViaICEForID<span class="signature">(iceServerHostName, domainID)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <div class="description"> Triggered when a request is made to go to a named domain or user.</div>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>iceServerHostName</code></td>
        <td class="type"> <span class="param-type">string</span></td>
        <td class="description last">IP address of the ICE server.</td>
      </tr>
      <tr>
        <td class="name"><code>domainID</code></td>
        <td class="type"> <span class="param-type"><a href="/api-reference/namespaces/uuid">Uuid</a></span></td>
        <td class="description last">The UUID of the domain to go to.</td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h4 class="subsection-title">Type Definitions</h4>
  <h5 class="name" id=".LookupTrigger">LookupTrigger</h5>
  <div class="description">
    <p>The reasons for an address lookup via the metaverse API are defined by numeric values:</p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>UserInput</strong></td>
          <td><code>0</code></td>
          <td>User-typed input.</td>
        </tr>
        <tr>
          <td><strong>Back</strong></td>
          <td><code>1</code></td>
          <td>Address from a <a href="/api-reference/namespaces/location#.goBack">goBack</a> call.</td>
        </tr>
        <tr>
          <td><strong>Forward</strong></td>
          <td><code>2</code></td>
          <td>Address from a <a href="/api-reference/namespaces/location#.goForward">goForward</a> call.</td>
        </tr>
        <tr>
          <td><strong>StartupFromSettings</strong></td>
          <td><code>3</code></td>
          <td>Initial location at Interface start-up from settings.</td>
        </tr>
        <tr>
          <td><strong>DomainPathResponse</strong></td>
          <td><code>4</code></td>
          <td>A named path in the domain.</td>
        </tr>
        <tr>
          <td><strong>Internal</strong></td>
          <td><code>5</code></td>
          <td>An internal attempt to resolve an alternative path.</td>
        </tr>
        <tr>
          <td><strong>AttemptedRefresh</strong></td>
          <td><code>6</code></td>
          <td>A refresh after connecting to a domain.</td>
        </tr>
        <tr>
          <td><strong>Suggestions</strong></td>
          <td><code>7</code></td>
          <td>Address from the Goto dialog.</td>
        </tr>
        <tr>
          <td><strong>VisitUserFromPAL</strong></td>
          <td><code>8</code></td>
          <td>User from the People dialog.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <dl><dt>Type: <span class="param-type">number</span></dl></dt>
</article>
</section>
              </div>
          </div>
      {% endblock %}