      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
          </tr>
        </tbody>
      </table><br>The LOD class manages your Level of Detail functions within Interface.
    </div>
    <div>
      <h5>Methods</h5>
    </div>
    <div><a href="#.getAutomaticLODAdjust">getAutomaticLODAdjust</a></div>
    <div><a href="#.getBoundaryLevelAdjust">getBoundaryLevelAdjust</a></div>
    <div><a href="#.getDesktopLODTargetFPS">getDesktopLODTargetFPS</a></div>
    <div><a href="#.getHMDLODTargetFPS">getHMDLODTargetFPS</a></div>
    <div><a href="#.getLODFeedbackText">getLODFeedbackText</a></div>
    <div><a href="#.getLODTargetFPS">getLODTargetFPS</a></div>
    <div><a href="#.getOctreeSizeScale">getOctreeSizeScale</a></div>
    <div><a href="#.setAutomaticLODAdjust">setAutomaticLODAdjust</a></div>
    <div><a href="#.setBoundaryLevelAdjust">setBoundaryLevelAdjust</a></div>
    <div><a href="#.setDesktopLODTargetFPS">setDesktopLODTargetFPS</a></div>
    <div><a href="#.setHMDLODTargetFPS">setHMDLODTargetFPS</a></div>
    <div><a href="#.setOctreeSizeScale">setOctreeSizeScale</a></div><br>
    <div>
      <h5>Signals</h5>
    </div>
    <div><a href="#.LODDecreased">LODDecreased</a></div>
    <div><a href="#.LODIncreased">LODIncreased</a></div><br>
    <h5 class="subsection-title">Properties:</h5>
    <table class="props">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th class="last">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name"><code>presentTime</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>engineRunTime</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>gpuTime</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>avgRenderTime</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>fps</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>lodLevel</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>lodDecreaseFPS</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>lodIncreaseFPS</code></td>
          <td class="type"> <span class="param-type">number</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="subsection-title">Methods</h4>
  <h5 class="name" id=".getAutomaticLODAdjust"> getAutomaticLODAdjust<span class="signature">()</span> <span class="type-signature">&#x2192; {boolean}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: boolean</dt></dl>
  <h5 class="name" id=".getBoundaryLevelAdjust"> getBoundaryLevelAdjust<span class="signature">()</span> <span class="type-signature">&#x2192; {number}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: number</dt></dl>
  <h5 class="name" id=".getDesktopLODTargetFPS"> getDesktopLODTargetFPS<span class="signature">()</span> <span class="type-signature">&#x2192; {number}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: number</dt></dl>
  <h5 class="name" id=".getHMDLODTargetFPS"> getHMDLODTargetFPS<span class="signature">()</span> <span class="type-signature">&#x2192; {number}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: number</dt></dl>
  <h5 class="name" id=".getLODFeedbackText"> getLODFeedbackText<span class="signature">()</span> <span class="type-signature">&#x2192; {string}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: string</dt></dl>
  <h5 class="name" id=".getLODTargetFPS"> getLODTargetFPS<span class="signature">()</span> <span class="type-signature">&#x2192; {number}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: number</dt></dl>
  <h5 class="name" id=".getOctreeSizeScale"> getOctreeSizeScale<span class="signature">()</span> <span class="type-signature">&#x2192; {number}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: number</dt></dl>
  <h5 class="name" id=".setAutomaticLODAdjust"> setAutomaticLODAdjust<span class="signature">(value)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>value</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".setBoundaryLevelAdjust"> setBoundaryLevelAdjust<span class="signature">(boundaryLevelAdjust)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>boundaryLevelAdjust</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".setDesktopLODTargetFPS"> setDesktopLODTargetFPS<span class="signature">(value)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>value</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".setHMDLODTargetFPS"> setHMDLODTargetFPS<span class="signature">(value)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>value</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".setOctreeSizeScale"> setOctreeSizeScale<span class="signature">(sizeScale)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>sizeScale</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h4 class="subsection-title">Signals</h4>
  <h5 class="name" id=".LODDecreased"> LODDecreased<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".LODIncreased"> LODIncreased<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
</article>
</section>
              </div>
          </div>
      {% endblock %}