      {% extends 'partials/base_noGit.html.twig' %}
      {% set tags = page.taxonomy.tag %}
      {% if tags %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% else %}
          {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
      {% endif %}
      
      {% block navigation %}
          <div id="navigation">
          {% if not progress.isFirst(page.path) %}
              <a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"> <img src="{{ url('theme://images/left-arrow.png') }}"></a>
          {% endif %}
      
          {% if not progress.isLast(page.path) %}
              <a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><img src="{{ url('theme://images/right-arrow.png') }}"></a>
          {% endif %}
          </div>
      {% endblock %}
      
      {% block content %}
          <div id="api-specific">
              <div id="body-inner">
                  <h1>{{ page.title }}</h1>
                  <section>
<article>
  <div class="container-overview">
    <div class="description">
      <table>
        <tbody>
          <tr>
            <th>Available in:</th>
            <td>Interface Scripts</td>
            <td>Client Entity Scripts</td>
          </tr>
        </tbody>
      </table><br>API to help manage your Avatar&apos;s input
    </div>
    <div>
      <h5>Methods</h5>
    </div>
    <div><a href="#.loudnessToAudioLevel">loudnessToAudioLevel</a></div>
    <div><a href="#.resetSensors">resetSensors</a></div>
    <div><a href="#.setShowAudioTools">setShowAudioTools</a></div>
    <div><a href="#.toggleCameraMute">toggleCameraMute</a></div><br>
    <div>
      <h5>Signals</h5>
    </div>
    <div><a href="#.cameraEnabledChanged">cameraEnabledChanged</a></div>
    <div><a href="#.cameraMutedChanged">cameraMutedChanged</a></div>
    <div><a href="#.isHMDChanged">isHMDChanged</a></div>
    <div><a href="#.showAudioToolsChanged">showAudioToolsChanged</a></div><br>
    <h5 class="subsection-title">Properties:</h5>
    <table class="props">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th class="last">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name"><code>cameraEnabled</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>cameraMuted</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>isHMD</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"><em>Read-only.</em></td>
        </tr>
        <tr>
          <td class="name"><code>showAudioTools</code></td>
          <td class="type"> <span class="param-type">boolean</span></td>
          <td class="description last"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="subsection-title">Methods</h4>
  <h5 class="name" id=".loudnessToAudioLevel"> loudnessToAudioLevel<span class="signature">(loudness)</span> <span class="type-signature">&#x2192; {number}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>loudness</code></td>
        <td class="type"> <span class="param-type">number</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: number</dt></dl>
  <h5 class="name" id=".resetSensors"> resetSensors<span class="signature">()</span><span class="type-signature"></span></h5>
  <h5 class="name" id=".setShowAudioTools"> setShowAudioTools<span class="signature">(showAudioTools)</span><span class="type-signature"></span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>showAudioTools</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="name" id=".toggleCameraMute"> toggleCameraMute<span class="signature">()</span><span class="type-signature"></span></h5>
  <h4 class="subsection-title">Signals</h4>
  <h5 class="name" id=".cameraEnabledChanged"> cameraEnabledChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".cameraMutedChanged"> cameraMutedChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".isHMDChanged"> isHMDChanged<span class="signature">()</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
  <h5 class="name" id=".showAudioToolsChanged"> showAudioToolsChanged<span class="signature">(show)</span> <span class="type-signature">&#x2192; {Signal}</span></h5>
  <h5>Parameters:</h5>
  <table class="params">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th class="last">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><code>show</code></td>
        <td class="type"> <span class="param-type">boolean</span></td>
        <td class="description last"></td>
      </tr>
    </tbody>
  </table>
  <h6>Returns:</h6>
  <dl><dt> Type: Signal</dt></dl>
</article>
</section>
              </div>
          </div>
      {% endblock %}